@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  @apply font-body
}

/*
 * Define text styles
 */

.headline-1 {
  @apply text-headline-1;
  @apply font-light;
  /* letter-spacing: -0.09375em; */
}

.headline-2 {
  @apply text-headline-2;
  @apply font-light;
  letter-spacing: -0.03125em;
}

.headline-3 {
  @apply text-headline-3;
}

.headline-4 {
  @apply text-headline-4;
}

.headline-5 {
  @apply text-headline-5;
  letter-spacing: 0.01125em;
}

.headline-6 {
  @apply text-headline-6;
  @apply font-medium;
  letter-spacing: 0.009375em;
}

.subtitle-1 {
  @apply text-subtitle-1;
  letter-spacing: 0.009375em;
}

.subtitle-2 {
  @apply text-subtitle-2;
  @apply font-medium;
  letter-spacing: 0.00625em;
}

.body-1 {
  @apply text-body-1;
  letter-spacing: 0.03125em;
}

.body-2 {
  @apply text-body-2;
  letter-spacing: 0.015625em;
}

.button {
  @apply text-button;
  /* @apply uppercase; */
  @apply font-medium;
  letter-spacing: 0.078125em;
}

.caption {
  @apply text-caption;
  @apply tracking-wide;
}

.overline {
  @apply text-overline;
  @apply uppercase;
  letter-spacing: 0.09375em;
}
