---
import Search from "@astrojs/starlight/components/Search.astro";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
import OpenPaymentsLogo from "../components/OpenPaymentsLogo.astro";
---
<div class="header sl-flex">
  <a href="/" class="site-logo">
    <OpenPaymentsLogo />
  </a>
  <div class="secondary-wrap">
    <Search />
    <SocialIcons />
    <div class="sl-hidden md:sl-flex">
      <ThemeSelect />
    </div>
  </div>
</div>

<style>
  .header { 
    gap: var(--sl-nav-gap);
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .site-logo {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    font-size: larger;
  }

  .site-logo svg {
    width: 9.5em;
    flex: none;
  }

  .secondary-wrap {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--sl-nav-gap);
  }

  @media screen and (max-width: 799px) {
    .secondary-wrap :global(.divider) {
      border-inline-end-color: transparent;
    }
  }
</style>
