/* Site logo on dark mode */
[data-theme='dark'] .logo-text {
  fill: white;
}

/* Splash page styling */
.card-link {
  text-decoration: none;
}

/* Weird issues with long code comments not breaking */
.codeblock {
  max-width: 48rem;
}

/* Odd one-off margin issue with expressive code (will hoist if seen again) */
div.expressive-code figure.frame {
  margin-top: 0;
}

/* Adjust background color of code blocks */
div.expressive-code figure.frame pre {
  background-color: var(--sl-color-gray-6);
  border: 1px solid var(--sl-color-gray-5);
}

/* Tab styling adjustments */
.sl-markdown-content.sl-markdown-content starlight-tabs [role='tabpanel'] {
  margin-block-start: var(--space-s);
}

[role='tabpanel'] .sl-link-button {
  margin-block-start: 0;
}

/* To remove after re-upgrade of Starlight */
.site-title {
  gap: var(--space-xs);
}
