---

---

<!doctype html>
<html>
  <head>
    <title>Resource Server API | Open Payments</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <script id="api-reference" data-url="/specs/resource-server.yaml"></script>
    <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference@1.49.3"
    ></script>
  </body>
</html>
